body {
    background: url("bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh
}

.base {
    height: 510px;
    width: 350px;
    background-color: rgba(80, 80, 80, 0);
    backdrop-filter: blur(13px);
    border: 2px solid rgba(255, 255, 255, 0.2);
    box-shadow: 
     0 0 20px rgba(255, 255, 255, 0.5),
     0 0 30px rgba(255, 255, 255, 0.4);
    border-radius: 25px;
}

input {
    position: relative;
    top: 25px;
    left: 21px;
    height: 56px;
    width: 300px;
    background-color: #171717aa;
    border: 2px solid rgb(100, 100, 100);
    color: aliceblue;
    font-size: 2rem;
}

.keypad {
    position: relative;
    top: 50px;
    left: 20px;
    height: 370px;
    width: 300px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    padding: 5px;
    overflow: hidden;
    border: 0.8px solid rgba(240, 248, 255, 0.2);
    border-radius: 25px;
}

button {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin: 5px 5px;
    font-size: 1.7rem;
    background-color: rgba(250, 235, 215, 0.5);
}

.operation {
    background-color: rgba(255, 225, 0, 0.7);
}

#equal {
    background-color: rgba(255, 255, 0, 0.7);
}

.bottom-buttons {
    background-color: rgba(80, 80, 80, 0.7);
}

button:hover {
    background-color: rgb(255, 255, 255);
    transform: translateY(-2.5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.7);
}

.operation:hover {
    background-color: rgba(255, 255, 0);
    transform: translateY(-2.5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.7);
}

#equal:hover {
    background-color: rgb(255, 255, 0);
    transform: translateY(-2.5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.7);
}

.bottom-buttons:hover {
    background-color: rgb(60, 60, 60);
    color: white;
    transform: translateY(-2.5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.7);
}

#Ai {
    background-color: rgba(80, 80, 80, 0.7);
}

#Ai:hover {
    background: linear-gradient(
        to right,
        blue 0%,
        purple 100%
    );
    color: white;
    transform: translateY(-3px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.7);
}