body {
    background-color: #7c7c7c;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh
}

.base {
    height: 480px;
    width: 350px;
    background-color: #383838;
    border-radius: 25px;
}

input {
    position: relative;
    top: 25px;
    left: 21px;
    height: 56px;
    width: 300px;
    background-color: #d6d6d6;
    font-size: 2rem;
}

.keypad {
    position: relative;
    top: 50px;
    left: 20px;
    height: 340px;
    width: 300px;
    background-color: #ffffff08;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    padding: 5px;
    overflow: hidden;
    border-radius: 25px;
}

button {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin: 5px 5px;
    font-size: 1.7rem;
}

.operation {
    background-color: #ff5500;
}

#equal {
    background-color: #00f2ff;
}

button:hover {
    background-color: #c3c3c3e2;
}

.operation:hover {
    background-color: #ff5500bc;
}

#equal:hover {
    background-color: #00eaff99;
}